<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- Primary Meta Tags -->
        <meta name="title" content="DocBase">
        <meta name="description" content="Sök bland 100+ medicinska kalkylatorer, lathundar och beslutsstöd.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.docbase.se/">
        <meta property="og:title" content="DocBase">
        <meta property="og:description" content="Sök bland 100+ medicinska kalkylatorer, lathundar och beslutsstöd.">
        <meta property="og:image" content="https://www.docbase.se/static/img/docbase.png">
        <meta property="og:site_name" content="DocBase">
        <meta property="og:locale" content="sv_SE">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://www.docbase.se/">
        <meta property="twitter:title" content="DocBase">
        <meta property="twitter:description" content="Sök bland 100+ medicinska kalkylatorer, lathundar och beslutsstöd.">
        <meta property="twitter:image" content="https://www.docbase.se/static/img/docbase.png">

        <title>{% block title %}{% endblock %}</title>
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>

        {% block body %}
        {% endblock %}

        <footer>
            <p>&copy; <span class="copy-year"></span> Felix Loysha-Rosén</p>
        </footer>

        <script type="module" src="static/script.js"></script>
    </body>
</html>
