{% extends "base.html" %}

{% block title %}DocBase{% endblock %}

{% block body %}
    <header class="search-header">
        <div class="text-logo">
            <a href="{{ url_for('index') }}" class="logo"><span class="doc">D</span><span class="base">B</span></a>
        </div>

        <div class="search-bar">
            <p><strong>Sök</strong> | <a href="{{ url_for('browse') }}">Bläddra</a></p>

            <form action="/s" method="get">
                <input class="q" autocomplete="off" autofocus name="q" placeholder="Sök här..." type="search">
            </form>
        </div>
    </header>

    <main>
        <hr>
        <div class="search-results-container">
            {% if docs %}
            <table class="search-results">
                <tr>
                    <th>Namn</th>
                    <th>Beskrivning</th>
                    <th>Länk</th>
                </tr>
            {% for doc in docs %}
                <tr>
                    <td>
                        <a href="{{ url_for('show_detail', id=doc['id'], from=request.args.get('q', '')) }}">
                            {{ doc["name"] }}
                            {% if doc.abbreviation %}
                                ({{ doc["abbreviation"] }})
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        {{ doc["description"]|truncate(100) }}
                    </td>
                    <td class="link">
                        {% if doc.docbase_link %}
                        <a href="static/files/{{ doc.docbase_link }}" target="_blank">
                            <img class="open-file" src="static/img/open-file.png">
                        </a>
                        {% elif doc.source_link %}
                        <a href="{{ doc.source_link }}" target="_blank">
                            <img class="open-file" src="static/img/open-file.png">
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </table>
            {% else %}
            <p>Din sökning matchade inga dokument.</p>
            {% endif %}
        </div>
    </main>

{% endblock %}
